.bg_white{
    background-color: white;
}

.bg_dark{
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #13283F;
}

.vh_height{
    height: calc(100vh - 3.5em);
    position: relative;
    top: 3.5em;
}

.text_decoration_none{
    text-decoration: none;
}

.hover_a:hover{
    background-color: rgba(255, 255, 255, 0.506);
    border-radius: 10px;
}

.nav-height{
    height: 3em;
    align-items: center;
}

header{
    height: 3.5em;
}

.bg_blue{
    background-color: #1C71E8;
}

.w_fit{
    width: fit-content;
}

.height_55{
    height: 55px;
}

.hr_bg{
    background-color: #E3E3E3;
}
