.bg_white{
    background-color: white;
}

.bg_dark{
    background-color: #13283F;
}

.vh_height{
    height: calc(100vh - 3.5em);
    position: relative;
    top: 3.5em;
}

.text_decoration_none{
    text-decoration: none;
}

.hover_a:hover{
    background-color: rgba(255, 255, 255, 0.506);
    border-radius: 10px;
}

.nav-height{
    height: 3em;
    align-items: center;
}

header{
    height: 3.5em;
}



